.container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.sudoku_board{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 600px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid black
}

.cell{
    font-size:35px;
    text-align: center;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 0
}